<div class="user-info">
  <%= image_tag @user.gravatar_url %>
  <li><%= @user.username %></li>
  <li><%= @user.email %></li>
  <li><%= @user.username %></li>
  <li><%= @user.cohort %></li>
  <li>Currentl working at: </li>
  <li>Job Title: </li>
  <li>Quirk</li>
  <li>Tweet size piece of advice</li>
</div>