<div class="row">
  <div class="user-info">
    <div class="col-md-3 col-md-offset-1 profile-left">
      <%= image_tag @user.gravatar_img(200) %>
      <% if @user == current_user %>
        <%= link_to "Edit Profile", edit_user_path, class: "btn btn-primary" %>
        <%= link_to "Change Email/Password", edit_user_registration_path, class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class="profile-right">
      <div class="col-md-6">
      <div class="row">
        <li class="col-md-2 titles">Name: </li>
        <li class="col-md-4 info"><%= @user.username %>
        </li>
      </div>
        <div class="row">
          <li class="col-md-2 titles">Email: </li>
          <li class="col-md-4 info"><%= @user.email %></li>
        </div>
        <div class="row">
          <li class="col-md-2">Cohort: </li>
          <li class="col-md-4 info"><%= @user.cohort %></li>
        </div>
        <div class="row">
          <li class="col-md-2">Currently working at: </li>
          <li class="col-md-4 info"><%= @user.employer %></li>
        </div>
        <div class="row">
          <li class="col-md-2">Job Title: </li>
          <li class="col-md-4 info"><%= @user.job_title %></li>
        </div>
        <div class="row">
          <li class="col-md-2">Quirk: </li>
          <li class="col-md-4 info"><%= @user.quirk %></li>
        </div>
        <div class="row">
          <li class="col-md-2">Tweet size piece of advice: </li>
          <li class="col-md-4 info"><%= @user.advice_tweet %></li>
        </div>
    </div>
  </div>
</div>
</div>


<div class="user-game-history">
  <div class="row">
    <div class="col-md-9 col-md-offset-2">
      <h3 style="text-align: center;">Game History</h3>
      <%= render 'games/games', games: @user.games %>
    </div>
  </div>
</div>