<h2 id="game_name_header"><%= @game.name %></h2>
<% if @game.users.include?(current_user) %>
  <%= link_to "Unjoin Game", unjoin_path(:id => @game.id), method: "delete", class: "btn btn-primary join", 'data-no-turbolink' => true %>
<% else %>
  <%= link_to "Join Game", join_path(:id => @game.id), method: "post", class: "btn btn-primary join", 'data-no-turbolink' => true %>
<% end %>
<div class="row">
  <div class="game-info">
    <div class="col-md-5 col-md-offset-1">
      <ul class="dynamic-data">
        <li><h3 class="game-header">THE GAME</h3></li>
        <li><%= @game.game_type.name %></li>
        <li><%= @game.formatted_date %></li>
        <li><%= @game.formatted_time %></li>
        <li><%= @game.location.full_address %></li>
        <li><%= link_to "How To Play", "#{@game.game_type.how_to_play_link}", target: :_blank %></li>
      </ul>
    </div>
    <div class="col-md-5">
      <div class="player-list">
        <ul class="dynamic-data">
          <li><h3 class="game-header">THE PLAYERS</h3></li>
          <% @game.users.each do |user| %>
            <li>
              <%= image_tag "#{user.gravatar_img}" %>
             <%= link_to user.username, user_path(user) %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="game-description">
      <p><%= @game.description %></p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
   <%= render 'google_map', game: @game %>
  </div>
</div>

