<div class="game-info">
  <li>Name: <%= @game.name %></li>
  <li>Type: <%= @game_type.name %></li>
  <li>Date: <%= @game.date %></li>
  <li>Description: <%= @game.description %></li>
</div>

<div class="gametype-info">
  <li>Name: <%= @game_type.name %></li>
  <li>Number of Players Needed: <%= @game_type.min_num_players %></li>
  <li>How To Play: <%= @game_type.how_to_play_link %></li>
</div>

<div class="location-info">
  <li>Address: <%= @location.address %></li>
  <li>City: <%= @location.city %></li>
  <li>Zipcode: <%= @location.zipcode %></li>
</div>

<%= content_tag "div", id: "map-canvas", data: { longitude: @location.longitude, latitude: @location.latitude } do %>
<% end %>
